<p id="notice"><%= notice %></p>

<p>
  <b>Currentdayrouteid:</b>
  <%= @currend_day_route.CurrentDayRouteID %>
</p>

<p>
  <b>Cdrrouteid:</b>
  <%= @currend_day_route.CDRRouteID %>
</p>

<p>
  <b>Cdrroutename:</b>
  <%= @currend_day_route.CDRRouteName %>
</p>

<p>
  <b>Cdrdefaultdriverid:</b>
  <%= @currend_day_route.CDRDefaultDriverID %>
</p>

<p>
  <b>Cdrdriverlastname:</b>
  <%= @currend_day_route.CDRDriverLastName %>
</p>

<p>
  <b>Cdrdrivermessage:</b>
  <%= @currend_day_route.CDRDriverMessage %>
</p>

<p>
  <b>Cdrstation:</b>
  <%= @currend_day_route.CDRStation %>
</p>

<p>
  <b>Cdrchecked:</b>
  <%= @currend_day_route.CDRChecked %>
</p>

<p>
  <b>Cdrdate:</b>
  <%= @currend_day_route.CDRDate %>
</p>

<p>
  <b>Duser:</b>
  <%= @currend_day_route.DUser %>
</p>

<p>
  <b>Terminal:</b>
  <%= @currend_day_route.Terminal %>
</p>


<%= link_to 'Edit', edit_currend_day_route_path(@currend_day_route) %> |
<%= link_to 'Back', currend_day_routes_path %>
