<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CustomerTableID %><br />
    <%= f.number_field :CustomerTableID %>
  </div>
  <div class="field">
    <%= f.label :CustomerID %><br />
    <%= f.text_field :CustomerID %>
  </div>
  <div class="field">
    <%= f.label :CustomerName %><br />
    <%= f.text_field :CustomerName %>
  </div>
  <div class="field">
    <%= f.label :Address1 %><br />
    <%= f.text_field :Address1 %>
  </div>
  <div class="field">
    <%= f.label :Address2 %><br />
    <%= f.text_field :Address2 %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br />
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Contact %><br />
    <%= f.text_field :Contact %>
  </div>
  <div class="field">
    <%= f.label :ClosingTime %><br />
    <%= f.text_field :ClosingTime %>
  </div>
  <div class="field">
    <%= f.label :Comment %><br />
    <%= f.text_field :Comment %>
  </div>
  <div class="field">
    <%= f.label :DefaultRouteID %><br />
    <%= f.text_field :DefaultRouteID %>
  </div>
  <div class="field">
    <%= f.label :DUser %><br />
    <%= f.text_field :DUser %>
  </div>
  <div class="field">
    <%= f.label :Terminal %><br />
    <%= f.text_field :Terminal %>
  </div>
  <div class="field">
    <%= f.label :InfoString %><br />
    <%= f.text_field :InfoString %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
