<p id="notice"><%= notice %></p>

<p>
  <b>Customertableid:</b>
  <%= @customer.CustomerTableID %>
</p>

<p>
  <b>Customerid:</b>
  <%= @customer.CustomerID %>
</p>

<p>
  <b>Customername:</b>
  <%= @customer.CustomerName %>
</p>

<p>
  <b>Address1:</b>
  <%= @customer.Address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @customer.Address2 %>
</p>

<p>
  <b>City:</b>
  <%= @customer.City %>
</p>

<p>
  <b>State:</b>
  <%= @customer.State %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.Phone %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.Contact %>
</p>

<p>
  <b>Closingtime:</b>
  <%= @customer.ClosingTime %>
</p>

<p>
  <b>Comment:</b>
  <%= @customer.Comment %>
</p>

<p>
  <b>Defaultrouteid:</b>
  <%= @customer.DefaultRouteID %>
</p>

<p>
  <b>Duser:</b>
  <%= @customer.DUser %>
</p>

<p>
  <b>Terminal:</b>
  <%= @customer.Terminal %>
</p>

<p>
  <b>Infostring:</b>
  <%= @customer.InfoString %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
