<p id="notice"><%= notice %></p>

<p>
  <b>Pickuparchiveid:</b>
  <%= @archive.PickupArchiveID %>
</p>

<p>
  <b>Padefaultrouteid:</b>
  <%= @archive.PADefaultRouteID %>
</p>

<p>
  <b>Papickupdate:</b>
  <%= @archive.PAPickupDate %>
</p>

<p>
  <b>Pacustomerid:</b>
  <%= @archive.PACustomerID %>
</p>

<p>
  <b>Padrivername:</b>
  <%= @archive.PADriverName %>
</p>

<p>
  <b>Padrivermessage:</b>
  <%= @archive.PADriverMessage %>
</p>

<p>
  <b>Paroutename:</b>
  <%= @archive.PARouteName %>
</p>

<p>
  <b>Pacustomername:</b>
  <%= @archive.PACustomerName %>
</p>

<p>
  <b>Pacomment:</b>
  <%= @archive.PAComment %>
</p>

<p>
  <b>Padispatched:</b>
  <%= @archive.PADispatched %>
</p>

<p>
  <b>Padispatchtime:</b>
  <%= @archive.PADispatchTime %>
</p>

<p>
  <b>Padeleted:</b>
  <%= @archive.PADeleted %>
</p>

<p>
  <b>Panotes:</b>
  <%= @archive.PANotes %>
</p>


<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
