<%= form_for(@current_day_route) do |f| %>
  <% if @current_day_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_day_route.errors.count, "error") %> prohibited this current_day_route from being saved:</h2>

      <ul>
      <% @current_day_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :RouteID %><br />
    <%= f.text_field :RouteID %>
  </div>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :DefaultDriverID %><br />
    <%= f.text_field :DefaultDriverID %>
  </div>
  <div class="field">
    <%= f.label :DriverLastName %><br />
    <%= f.text_field :DriverLastName %>
  </div>
  <div class="field">
    <%= f.label :DriverMessage %><br />
    <%= f.text_field :DriverMessage %>
  </div>
  <div class="field">
    <%= f.label :Station %><br />
    <%= f.text_field :Station %>
  </div>
  <div class="field">
    <%= f.label :Duser %><br />
    <%= f.text_field :Duser %>
  </div>
  <div class="field">
    <%= f.label :Terminal %><br />
    <%= f.text_field :Terminal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
